
#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  position:relative;
  float:left;
  width: 100%;
}

#main-navbar ul {
  list-style-type: none;
  position: relative;
  left: 50%;
  float: left
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
}

nav ul li#onpage {

}

nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  
}

nav ul li a:hover {
  text-decoration: underline overline;
  background-color: #000;
}


div#sidebar {
  clear: both;
}

div#sidebar ul li {
  list-style-type: none;
  
}

div#sidebar ul li a {
  text-decoration: none;
}

div#sidebar li {
  padding: 15px 0;
}

#sidebar-container {
  display: block;
  text-align: center;
  list-style-type: none;
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}


